<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="employeeRepo" class="com.akr.springbasics.samplexmlconfiguration.repository.EmployeeRepositoryImpl"/>
    <bean name="printer" class="com.akr.springbasics.samplexmlconfiguration.service.PrintSomething" />

    <bean name="employeeService" class="com.akr.springbasics.samplexmlconfiguration.service.EmployeeServiceImpl">
        <property name="employeeRepository" ref="employeeRepo"/>
        <constructor-arg index="0" ref="printer" />
    </bean>
</beans>